*.png
*.mp4
*.ply
*.hipnc
*.obj
*.stl
*.pyc
*.json
*.jpg
*.mtl
*.npz
*.npy
*.cdf
test.gif


!new.png
!simple_comp_graph.jpg
!pyrender_mesh.png
!qt_mesh.png
!pyrender_mesh_1.png
!pyrender_mesh_2.png
!qt_mesh_1.png
!qt_mesh_2.png
!point_cloud.png